<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>499892673872-gmoovv0cth767val2et38evjuac7ekjv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499892673872-gmoovv0cth767val2et38evjuac7ekjv</string>
	<key>API_KEY</key>
	<string>AIzaSyAEB4msFvmFtk0-pb_EE9TBDnHlN05JhDU</string>
	<key>GCM_SENDER_ID</key>
	<string>499892673872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.grouptune.ProjectTune</string>
	<key>PROJECT_ID</key>
	<string>projectnote-1156c</string>
	<key>STORAGE_BUCKET</key>
	<string>projectnote-1156c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499892673872:ios:b8b9d421b2ba7ad3</string>
	<key>DATABASE_URL</key>
	<string>https://projectnote-1156c.firebaseio.com</string>
</dict>
</plist>